.header{
  display: flex;
  background-color:rgb(88, 101, 242);
}
.left-section {
  height: 80px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding-left: 310px;
  padding-right: 290px;
  margin-bottom: 110px;
}
.right-section{
margin-right: 90px;
margin-bottom:110px;
display: flex;
align-items: center;
}



.Download,
.Nitro,
.Discover,
.Safety,
.Support,
.Blog,
.Careers {
  color:white;
}

.header-button{
  background-color: white;
  border:none;
  border-radius: 30px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom:10px;
  font-weight:800;
}
